<?xml version="1.0" encoding="utf-8" ?>
<ini modo="1">

  <servidor nome="RjbuJvCer+3AuzM28HyUqPg4nzNSXCG8vrRjeJbHkt6uV3dY0i13IBBB0dAVir1G3yIrgEnHcy4=" porta="FMTSjghHDhs="  timeOut="1JI3qb37QpE="/>
  <usuario nome="D6C3rXh5q/N7z3Wv+AMotw==" senha="JZEVp7G18+tWVHXmzANPQA=="   banco="R1drtrCxB/cNOqT1Qdmw+A=="  />


</ini>